*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #222222;
    color: #fff;
    font-family: 'Press Start 2P', sans-serif;
    display: flex;
    flex-direction: column;
}

input, button{
    font-family: 'Press Start 2P', sans-serif;
    cursor: pointer;
}

h1{
    text-align: center;
    margin-top: 38px;
    font-size: 2.5rem;
}

h2{
    font-size: 14px;
}

.message{
    margin-bottom: 80px;
}

.label-score{
    margin-bottom: 20px;
}


.header{
    border-bottom: 7px #fff solid;
}


.top{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.header button{
    width: 180px;
    height: 60px;
}

.reset-btn{
    font-size: 20px;
}



.bottom-half{
    margin-top: 140px;
    display: flex;
    justify-content: space-around;
    padding: 0 80px;
    
    
}

.border{
    border: 2px solid red;
}

.number{
    width: 150px;
    height: 120px;
    margin: 0 auto;
    background-color:#fff;
    color: #222222;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    position: relative;
    top: 60px;
}

.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left .input-number{
    width: 250px;
    height: 110px;
    margin-bottom: 30px;
    background-color: transparent;
    border: 4px solid #fff;
    font-size: 50px;
    color: #fff;
    padding: 5px 20px 5px 80px;
}

.check{
    width: 180px;
    height: 60px;
    font-size: 20px;
}

.right{
    font-size: 20px;
    padding-top: 20px;
    
}
